<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.EmpMapper">

    <!-- 嵌套结果 -->
    <resultMap id="empInfoMap" type="org.example.dto.EmpInfoDto">
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
        <association property="dept">
            <id column="dept_id" property="id"/>
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>

    <!-- 嵌套查询 -->
    <resultMap id="empInfoSelectMap" type="org.example.dto.EmpInfoDto">
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
        <association property="dept" column="dept_id" select="org.example.dao.DeptMapper.findDeptById">
        </association>
    </resultMap>

    <select id="findEmpInfoDtoSelect" parameterType="integer" resultMap="empInfoSelectMap">
        select * from t_emp where id = #{id}
    </select>

    <select id="findEmpInfoDtoById" parameterType="integer" resultMap="empInfoMap">
        select e.user_name, e.age, d.id as dept_id, d.dept_name
        from t_emp e inner join t_dept d on e.dept_id = d.id
        where e.id = #{id}
    </select>

    <select id="selectById" parameterType="long" resultType="map">
        select * from t_emp t where t.id = #{id}
    </select>



</mapper>